<%- include('../partials/top')  %> 
    <h1>Add An Entry</h1>
    <div class="row">
        <form class="col s12" action="/admin/add" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Enter Title Here..." id="title" name="title" type="text">
              <label for="title">Title</label>
            </div>
            <div class="input-field col s12">
              <textarea name="description" id="description" class="materialize-textarea"></textarea>
              <label for="description">Description</label>
            </div>
            <div class="input-field col s12">
              <input placeholder="Enter Password Here..." id="password" name="password" type="password">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn purple">Publish</button>
        </form>
      </div>
    <%- include('../partials/bottom')  %> 