<%- include('../partials/top')  %> 
    <h1>Add An Entry</h1>
    <div class="row">
        <form class="col s12" action="/admin/add" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Enter Title Here..." id="Title" name="Title" type="text">
              <label for="Title">Title</label>
            </div>
            <div class="input-field col s12">
              <textarea name="Description" id="Description" class="materialize-textarea"></textarea>
              <label for="Description">Description</label>
            </div>
          </div>
          <button class="btn green">Publish</button>
        </form>
      </div>
    <%- include('../partials/bottom')  %> 