<%- include('../partials/top')  %> 
        <h1>Journal | Diary | Todo List | Whatever You Want To Call It</h1>
    <% for( let index = 0; index < entries.length; index++ ) { %>
        <article>
            <h2><%= entries[index].title %> </h2>
            <p><%= entries[index].description %> </p>
        </article>
    <% } %>
<%- include('../partials/bottom')  %> 