<%- include('../partials/top')  %> 
        <article>
            <h1><%= entry.title %> </h1>
            <p class="flow-text"><%- entry.description %> </p>
        </article>
<%- include('../partials/bottom')  %>