<%- include('../partials/top')  %> 
        <article>
            <h1><%= entries.title %> </h1>
            <p><%= entries.description %> </p>
        </article>
<%- include('../partials/bottom')  %>